USE [master]
GO
/****** Object:  Database [Composite]    Script Date: 19/02/2019 11:08:20 ******/
CREATE DATABASE [Composite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Composite', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Composite.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Composite_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Composite_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Composite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Composite]
GO
USE [Composite]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 19/02/2019 11:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[idPermiso] [varchar](50) NOT NULL,
	[descripcionPermiso] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoUsuario]    Script Date: 19/02/2019 11:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoUsuario](
	[nombreUsuario] [varchar](50) NOT NULL,
	[idPermiso] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PermisoUsuario] PRIMARY KEY CLUSTERED 
(
	[nombreUsuario] ASC,
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 19/02/2019 11:08:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[nombreUsuario] [varchar](50) NOT NULL,
	[passwordUsuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[nombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PermisoUsuario]  WITH CHECK ADD  CONSTRAINT [FK_PermisoUsuario_Permiso] FOREIGN KEY([idPermiso])
REFERENCES [dbo].[Permiso] ([idPermiso])
GO
ALTER TABLE [dbo].[PermisoUsuario] CHECK CONSTRAINT [FK_PermisoUsuario_Permiso]
GO
ALTER TABLE [dbo].[PermisoUsuario]  WITH CHECK ADD  CONSTRAINT [FK_PermisoUsuario_Usuario] FOREIGN KEY([nombreUsuario])
REFERENCES [dbo].[Usuario] ([nombreUsuario])
GO
ALTER TABLE [dbo].[PermisoUsuario] CHECK CONSTRAINT [FK_PermisoUsuario_Usuario]
GO
USE [master]
GO
